<div class = "p-5 ">
    <mat-card class = "p-4 ">
        <div>
            <div class = "comment-form">

                <div  class = "star-rating" >
                    <h2 class="font-roboto decoration-1 underline-offset-8 text-3xl underline pb-4 rating-title">Rating</h2>
                    <div>
                        <i class="fa fa-star text-5xl text-nomad-dark p-5"></i>
                        <i class="fa fa-star text-5xl text-nomad-dark p-5"></i>
                        <i class="fa fa-star text-5xl text-nomad-dark p-5"></i>
                        <i class="fa fa-star text-5xl text-nomad-dark p-5"></i>
                        <i class="fa fa-star text-5xl text-nomad-dark p-5"></i>
                    </div>

                </div>
                <mat-form-field [floatLabel]="getFloatLabelValue()" class = "comment-field">
                    <mat-label>Comment Text</mat-label>
                    <input matInput placeholder="Input Comment Text">
                </mat-form-field>       <br>
                <button mat-button class="nomad-button">Comment</button>

            </div>

        </div>

    </mat-card>
</div>
