
<div class="flex flex-row  gap-14 flex-wrap justify-between  pb-12 2xl:ml-80 2xl:mr-80 md:ml-32 md:mr-32 sm:ml-8 sm:mr-8 mr-4 gap-16 items-center">
  <div class="flex flex-col items-center gap-20 2xl:mt-32 mt-12">
  <div class="flex flex-row bg-gray-100 rounded-3xl py-16 px-10 items-center justify-around gap-8 shadow-2xl">
    <p class="bg-nomad-dark py-5 px-8 text-5xl text-white decoration-solid rounded-full">J</p>
    <p class="text-xl decoration-solid">JANE DOE</p>
  </div>
    <button class="flex flex-row rounded-xl w-[70%] text-2xl text-nomad-dark  decoration-solid bg-nomad-gray hover:bg-nomad-gray-hover py-3 items-center justify-around gap-8 shadow-2xl">
      Delete account
    </button>
  </div>

  <div class="flex flex-col 2xl:mt-24 mt-12  rounded-3xl  py-16 px-16 w-[60%]   border border-gray-400">
    <div class="flex flex-col divide-y divide-gray-400 gap-8" >
      <div>
        <p class="pl-3">Name and Surname</p>
        <p class="pl-3">{{user.firstName}} {{user.lastName}}</p>
      </div>
      <div>
        <p class="pl-3 pt-3">Adress</p>
        <p class="pl-3">{{user.address}}</p>
      </div>
      <div>
        <p class="pl-3 pt-3">Phone number</p>
        <p class="pl-3">{{user.phoneNumber}}</p>
      </div>

      <div>
        <p class="pl-3 pt-3">Username</p>
        <p class="pl-3">{{user.username}}</p>
      </div>
      <div></div>
      <button class="flex flex-row rounded-xl w-[30%] text-2xl text-nomad-dark  decoration-solid bg-nomad-gray hover:bg-nomad-gray-hover py-3 items-center justify-around gap-8 shadow-2xl">
        Edit account
      </button>
    </div>
    <p class="pl-3 pt-5 text-l underline decoration-solid">Change password</p>
  </div>
</div>
