<div>
    <div *ngFor="let reservation of reservations" class = "pl-48 pr-48 pt-12">
        <mat-card fxLayout="row wrap"  fxLayoutGap="16px" class = "p-2">
            <div fxFlex = "20%" ><img class = "rounded-3xl p-4" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="Lamp">
            </div>
            <div fxFlex = "47%" class = "p-12"  [routerLink]="['/accommodation-details', reservation.accommodation]">
                {{reservation.accommodationDetails!.name}}, {{reservation.accommodationDetails!.address}}
            </div>
            <div fxFlex = "30%" class = "align-bottom align-text-bottom pb-4" style = "display: flex; align-items: flex-end;">
                <div class = "align-bottom" style = "display: flex; align-items: flex-end;">
                    <button mat-button class="nomad-button mr-4" (click)="accept(reservation.id!)">Accept</button>
                    <button mat-button class="nomad-button" (click)="deny(reservation.id!)">Decline</button>

                </div>
            </div>
        </mat-card>
    </div>
    
</div>
