<div class = "content ml-36 mr-36">
    <h1 class="font-roboto font-bold text-xl">{{accommodation.name}}</h1>
    <div class ="grid grid-cols-1 gap-1 md:grid-cols-3 lg:grid-cols-4">
        <div  *ngFor="let image of accommodation.images" class = "rounded-2xl"> <img 
            class="rounded-3xl"
            src={{image}}
            alt="" /></div>
    </div>
    <mat-divider class="divider"></mat-divider>
    
   
    <div class ="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div class = "pr-3" >
            <div>
                <mat-card>            
                    <h2>Description</h2>
                    <p class = "text-s">                {{accommodation.description}}
                    </p>
                </mat-card>  
            </div>
        </div>
        <div class = "rounded-3xl bg-nomad-gray grid  lg:grid-cols-2 grid-cols-1 gap-1">
            <div class="pl-4">
                <h2><span class = "font-bold">$ {{accommodation.price}}</span> Night</h2>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>
                      When</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-calendar></mat-calendar>
                </mat-form-field>
            </div>
            <div class="pt-10 mt-10 col">
                <mat-form-field>
                <mat-label>Guests</mat-label>
                <mat-select>
                    <mat-option>1</mat-option>
                    <mat-option>2</mat-option>
                    <mat-option>3</mat-option>
                </mat-select>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary">Reserve</button>
            </div>
            
        </div>
        
    </div>
    <mat-divider class="divider"></mat-divider>
    <div>
        <h2 class="pb-8">Amenities</h2>
        <div class = "rounded-3xl bg-nomad-gray grid  md:grid-cols-12 grid-cols-3 gap-1">
            <div *ngFor="let amenity of accommodation.amenities" class="pl-6">
                <div class="col">
                    <fa-icon class="text-2xl cursor-pointer" [icon]="faWifi"></fa-icon>    {{amenity.name}} 
                </div>
                
            </div>
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class = "grid md:grid-cols-2 grid-cols-1">
        <div>
            <h2>Reviews</h2>
            <div  *ngFor="let review of accommodation.reviews">
                <!-- <div class = "grid grid-cols-12">
                    <div><i class="fa fa-user pb-5 text-5xl"></i> 
                    </div>
                    <div>
                        <div class="font-bold text-5xl "> 
                            {{review.name}}
                        </div>
                    </div>
                </div>
                        <div class="star-rating pl-7">
                            <i class="fa fa-star text-5xl" *ngFor="let star of numSequence(review.rating)"></i>
                            <i class="fa fa-star-half text-5xl" *ngIf="review.rating % 1 !== 0"></i>
                        </div>
                    
                        <div font-thin>
                            {{review.text}}
                        </div> -->
                        <div fxLayout="row wrap"  fxLayoutGap="16px" class = "pt-5">
                            <div fxFlex="4%">
                                <div ><i class="fa fa-circle-user pb-5 text-3xl"></i> 
                                </div>
                            </div>
                            <div fxFlex="60%">
                                <div class="star-rating">
                                    <i class="fa fa-star text-3xl" *ngFor="let star of numSequence(review.rating)"></i>
                                    <i class="fa fa-star-half text-3xl" *ngIf="review.rating % 1 !== 0"></i>
                                </div>
                                <div class="font-bold text-3xl "> 
                                    {{review.name}}
                                </div>
                                
                            
                                <div font-thin>
                                    {{review.text}}
                                </div>
                            </div>
                        </div>
                        
        </div>
        
       
    </div><div>
        <mat-card>
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            
        </mat-card>
    </div>
    
    
</div>

